{% extends 'base.html' %}
{% block content %}
<h1>My Bookings</h1>

{% for booking in bookings %}
  <div class="booking_item">
<p>
  <strong>{{ booking.service_type }}</strong> — {{ booking.scheduled_date|date:"M. d, Y" }}<br>
  Status: {{ booking.status }}
  <a href="{% url 'update_booking' booking.id %}" class="btn edit-btn">Edit</a>
  <a href="{% url 'delete_booking' booking.id %}" class="btn cancel-btn">Cancel Booking</a>
</p>
  </div>
{% empty %}
  <p>No bookings yet.</p>
{% endfor %}

{% endblock %}