/* TEMPLATE TO BE EDITED */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #228b22;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 1.5rem;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    background-color: #f3f3f3;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

.navbar a, .navbar button {
    text-decoration: none;
    background: none;
    border: none;
    color: #333;
    font-size: 1rem;
    cursor: pointer;
}

.navbar button:hover,
.navbar a:hover {
    color: #008cba;
}
